@{
    ViewData["title"] = "Laboratory work №4";
}

<!DOCTYPE html>

<html>
<head>
    <title>
        Laboratory work №4
    </title>
</head>
<body>
    <h1>
        Completed by: student of the ITP-21 group Gaykevich Tatyana
    </h1>
</body>
</html>